.container{
    width: 500px;
    margin: 50px auto;
    border: 1px solid;
    font-size: 14px;
}
.headerText{
    padding: 20px;
    font-size: 40px;
    text-align: center;
}
.containerContent{
    padding: 0 30px 30px 30px;
}
.input{
    margin-right: 10px;
    padding: 5px;
    width: 350px;
}
.description{
    margin-top: 10px;
    padding: 5px;
    width: 350px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.buttonAdd{
    font-weight: bold;
    padding: 5px 24px;
    cursor: pointer; 
}
.containerList{
    margin: 20px 0;
}
.buttonClear{
    margin-top: 10px;
    padding: 5px 20px;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer; 
    background-color: rgb(225, 209, 194);
    border: none;
}
.clearCompleted{
    padding: 6.5px 20px;
}
.clearAll{
    padding: 5px 20px;
    background-color: rgb(43, 42, 42);
    color: white;
    border: 2px solid grey;
    border-radius: 2px;
}

